.App {
  font-family: sans-serif;
  max-width: 700px;
  margin: 50px auto 30px;
  padding: 30px 0 50px 0;
  background: #a8e6cf;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.App h1 {
  color: #ffaaa5;
  -webkit-text-stroke: 1px black;
}

.App h2 {
  color: #ffd3b6;
  -webkit-text-stroke: 0.5px black;
  margin-bottom: 35px;
}

@media (max-width: 900px) {
  .App {
    margin: 0 auto 25px;
  }
}
