.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: 50px auto;
}

.App h1 {
  color: #ffaaa5;
  -webkit-text-stroke: 1px black;
}

.App h2 {
  color: #ffd3b6;
  -webkit-text-stroke: 0.5px black;
  margin-bottom: 35px;
}

.App footer {
  font-size: small;
  color: #ffffff;
  padding-top: 80px;
}
