.Forecast {
  padding-top: 25px;
}

.Forecast ul {
  list-style-type: none;
  padding: 0;
}

.forecast-icons img {
  max-width: 50%;
  height: auto;
}

.Forecast .temp-day {
  color: #64867a;
  font-weight: 600;
}

.Forecast .temp-night {
  color: #fdffab;
  font-weight: 800;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.486);
}
