.Forecast {
  border-top: 6px dotted #feffab86;
  padding-top: 25px;
}

.Forecast ul {
  list-style-type: none;
  padding: 0;
}

.Forecast .temp-day {
  color: red;
}

.Forecast .temp-night {
  color: blue;
}
