:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.city-search {
  border-radius: 25px;
  border-color: #fdffab;
  color: #ffaaa5;
  margin-bottom: 50px;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
}
.city-search::placeholder {
  color: #ffaaa5;
}

.btn.search-btn {
  background: #fdffab;
  color: #ffaaa5;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  border-radius: 25px;
  margin-left: 5px;
  box-shadow: var(--box-shadow);
}
.btn.search-btn:hover {
  background: #f5f78a;
  color: #ffaaa5;
}

h1.city {
  color: #ffaaa5;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  text-decoration: 6px dotted underline #fdffab;
}

h2.country {
  color: #ffd3b6;
  -webkit-text-stroke: 0.25px rgb(255, 255, 255);
  text-decoration: 3px wavy underline #feffab77;
}

.temperature-and-icon {
  display: flex;
  justify-content: center;
}

.temperature-value {
  font-size: 64px;
  font-weight: 600;
  color: #ffaaa5;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.486);
}

.temperature-unit {
  font-size: 25px;
  position: relative;
  top: 14px;
}

.weather-column.left-column {
  padding-right: 2px;
}

.weather-column.right-column {
  padding-left: 2px;
}

.weather-column ul {
  list-style-type: none;
  padding-left: 0;
}

.weather-info-text {
  color: #ffd3b6;
}

.weather-info-value {
  color: #ffaaa5;
}
